.participants_count{
    font-size: 24px;
    margin: 40px 0;
}

@media(max-width:1023px){
    .participants_count{
        font-size: 20px;
    }
    .participants_count > span:last-child{
        font-weight: 600;
    }
}