.moments_cards > img{
    width: 100%;
}
.moment_cards_container{
    display: flex;
    column-gap: 10px;
    margin : 20px;
    margin-top: 70px;
}
.moments_cards{
    cursor: pointer;
    padding: 8px;
}

@media(max-width:1023px){
    .moment_cards_container{
        overflow-x: auto;
    }
    .moments_cards{
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: 85%;
    }
}