.events_container{
    margin: 0 35px;
    margin-top: 100px;
}
.events_container > h2{
    font-size: 28px;
    border-left: 5px solid black;
    padding-left: 20px;
    margin-bottom: 30px;
}
.events{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 70px;
}
.event_card{
    display: grid;
    border-radius: 20px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    padding: 25px;
    box-shadow: 2px 2px 10px grey;
    align-items: center;
    text-align: justify;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    height: 100%;
}
.event_card > img{
    width: 100%;
    height: 170px;
}
.name_event{
    margin: 0;
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
}
.event_card > a{
    justify-self: center;
}
.event_card:hover{
    transform: scale(1.03);
}
.participate{
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 8px 16px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    box-shadow: 2px 4px 4px grey;
    cursor: pointer;
}

.vanta-canvas{
    position: inherit !important;
    min-height: 100vh;
}
.event_hero_container{
    height: 100vh;
    position: relative;
}
.events_hero_text{
    z-index: 10;
    color: white;
    font-weight: 500;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media(max-width:1023px){
    .events{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 28px;
        margin-bottom: 50px;
    }
    .events_container > h2{
        font-size: 24px;
        border-left: 4px solid black;
        padding-left: 12px;
    }
}