@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
 .hero {
	 background-color: #000000;
	 position: relative;
	 height: 100vh;
	 overflow: hidden;
	 font-family: 'Montserrat', sans-serif;
}
 .hero__title {
	 color: #fff;
	 position: absolute;
	 top: 55%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 font-size: 50px;
	 z-index: 1;
	 text-align: center;
}

 .hero__title > p{
	 margin: 20px;
 }
 
 .hero__title > p:nth-child(2){
	 font-size: 16px;
	 line-height: 20px;
	 font-weight: 500;
 }

 .cube {
	 position: absolute;
	 top: 80vh;
	 left: 45vw;
	 width: 10px;
	 height: 10px;
	 border: solid 1px #003298;
	 transform-origin: top left;
	 transform: scale(0) rotate(0deg) translate(-50%, -50%);
	 animation: cube 12s ease-in forwards infinite;
}
 .cube:nth-child(2n) {
	 border-color: #0051f4;
}
 .cube:nth-child(2) {
	 animation-delay: 2s;
	 left: 25vw;
	 top: 40vh;
}
 .cube:nth-child(3) {
	 animation-delay: 4s;
	 left: 75vw;
	 top: 50vh;
}
 .cube:nth-child(4) {
	 animation-delay: 6s;
	 left: 90vw;
	 top: 10vh;
}
 .cube:nth-child(5) {
	 animation-delay: 8s;
	 left: 10vw;
	 top: 85vh;
}
 .cube:nth-child(6) {
	 animation-delay: 10s;
	 left: 50vw;
	 top: 10vh;
}
 @keyframes cube {
	 from {
		 transform: scale(0) rotate(0deg) translate(-50%, -50%);
		 opacity: 1;
	}
	 to {
		 transform: scale(20) rotate(960deg) translate(-50%, -50%);
		 opacity: 0;
	}
}

/* button styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 22px;
	margin-bottom: 0;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

@media(max-width:1023px){
	.hero__title{
		top: 50%;
	}
}