body {
    margin: 0;
  }
  
  .light-fixture {
    animation: bulb-animation 1.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate both;
    transform-origin: top;
    position: relative;
    height: 240px;
  }
  
  .light-fixture::before {
    content: "";
    margin-left: -450px;
    left: 50%;
    top: 0;
    position: absolute;
    display: block;
    background-image: radial-gradient(
      circle at center,
      #ffe500,      
      rgba(255,255,255,0) 70%
    );
    z-index: -1;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
  }

  .bulb {
    height: 100%;
    cursor: pointer;
  }

  .bulb_container{
     margin-top: 60px;
  }
  
  .fillament {
    transition: opacity 200ms ease-in-out;
  }
  
  .room {
    display: flex;
    justify-content: center;
    align-items: top;
  }
  
  .room::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffb700;
    z-index:-1;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
  
  #switch {
    display: none;
  }
  
  #switch:checked + .room::before,
  #switch:checked + .room .light-fixture::before {
   opacity: 1;
  }
  
  #switch:checked + .room .bulb {
    filter: drop-shadow(0 12px 48px white);
  }
  
  #switch:checked + .room .socket {
    fill: #111;
  }
  
  #switch:checked + .room .fillament {
    opacity: 0;
  }
  
  #switch:checked + .room .glass {
   fill: #FFF;
   stroke: #fafafa;
   stroke-width: 1px;
  }
  
  @keyframes bulb-animation {
    0% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }