.footer{
    padding: 30px 48px;
    background: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo_container{
    flex-shrink: 0;
    flex-basis: 20%;
}
.logo_container > p > b{
    color: #F4D03F;
}
.link_part{
    display: grid;
    text-align: center;
    padding: 0;
}
.link_part > a{
   text-decoration: none;
   color: white;
}
.link_part > a > li{
    list-style: none;
}
.social_icons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 12px;
}

@media(max-width:1023px){
    .footer{
        flex-direction: column;
    }
    .logo_container{
        text-align: center;
    }
    .social_icons{
        margin-top: 22px;
    }
}