.days_left {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
}

.count_down {
  margin-top: 20px;
}

.count-down p {
  font-size: 16px;
  text-align: start;
  padding-left: 11px;
  margin: 12px 0;
  margin-top: 40px;
  color: cadetblue;
  text-align: center;
}

.timer_box {
  position: relative;
  margin: 10px;
  background-color: transparent;
  padding: 8px;
  width: 90px;
  font-size: 32px;
  border: solid 2px;
  border-radius: 12px;
}

.timer_box > span {
  display: block;
  font-size: 10px;
}

/* BORDER CSS */

@-webkit-keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 8px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 8px 3px #c586c0, 0 0 4px 2px #c586c0;
  }

  60% {
    -webkit-box-shadow: 0 0 8px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 8px 3px #ffff01, 0 0 4px 2px #ffff01;
  }

  100% {
    -webkit-box-shadow: 0 0 8px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 8px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
}

@keyframes gradient-shadow {
  0% {
    -webkit-box-shadow: 0 0 8px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 8px 3px #ffff01, 0 0 4px 2px #ffff01;
  }

  60% {
    -webkit-box-shadow: 0 0 8px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 8px 3px #ffff01, 0 0 4px 2px #ffff01;
  }

  100% {
    -webkit-box-shadow: 0 0 8px 3px #c586c0, 0 0 4px 2px #c586c0;
    box-shadow: 0 0 8px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
}

@media (max-width: 1023px) {
  .days_left {
    font-size: 18px;
    column-gap: 4px;
  }
  .timer_box {
    width: 62px;
    font-size: 18px;
    margin: 5px;
    padding: 6px;
  }
  .timer_box > span {
    font-size: 9px;
  }
  .count-down > p {
    font-size: 12px;
    text-align: start;
    padding-left: 8px;
    margin: 12px 0;
    margin-top: 40px;
  }
}
