.rules_container{
    margin-top: 110px;
    margin-left: 3rem;
}
.points{
    line-height: 26px;
}
@media(max-width:1023px){
    .rules_container{
        margin-top: 110px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        text-align: justify;
    }
}